:root {
  --el-menu-bg-color: transparent;

  // --el-menu-hover-bg-color: rgb(0 0 0 / 10%);
  --el-menu-base-level-padding: var(--el-space);
  --el-menu-level-padding: var(--el-space-sm);
}

// 使element按钮能够根据component-size的值来变更大小
.el-button {
  --el-button-size: var(--el-component-size);
  height: var(--el-button-size);
  padding: 0 var(--el-space-sm);
  &.el-button--small {
    --el-button-size: var(--el-component-size-small);
    padding: 0 var(--el-space-xs);
  }
  &.el-button--large {
    --el-button-size: var(--el-component-size-large);
    padding: 0 var(--el-space);
  }
}

.el-dialog {
  .el-dialog__body {
    padding: var(--el-space-md);
  }
}

.el-collapse {
  --el-collapse-header-text-color: var(--el-text-color-secondary);
}

.el-message-box {
  // --el-messagebox-title-color: var(--el-text-color-primary);
  // --el-messagebox-width: 420px;
  --el-messagebox-border-radius: var(--el-border-radius-small);

  // --el-messagebox-font-size: var(--el-font-size-large);
  // --el-messagebox-content-font-size: var(--el-font-size-base);
  // --el-messagebox-content-color: var(--el-text-color-regular);
  // --el-messagebox-error-font-size: 12px;
  // --el-messagebox-padding-primary: 15px;
}
