@use './themes.scss';

:root {
  @apply font-main;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-[var(--el-bg-color-page)];
}
