@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

@use 'vars' as *;

/**
 * 基于element-plus的css变量构建多主题样式
 */

// 主题色类型: 主色调：primary, 成功：success, 警告: warning, 危险: danger, 错误: error, 信息: info
$types: 'primary', 'success', 'warning', 'danger', 'error', 'info';

// 字色类型: 一级： primary, 二级: regular, 三级: secondary, 占位：placeholder，禁用：disabled
$text-color-types: 'primary', 'regular', 'secondary', 'placeholder', 'disabled';

// 背景色类型
$bg-color-types: 'default', 'overlay', 'page';

// 混合模式
$mix-modes: light, dark;

$base-mode-colors: (
  'light': $white,
  'dark': $black,
);

// 暗黑模式的light和dark反过来，即暗黑模式下light级别越高越暗
$dark-mode-colors: (
  'light': $black,
  'dark': $white,
);

// 设置主题颜色css变量列表
@mixin set-theme-colors($theme-colors, $mode-colors) {
  @each $type in $types {
    #{'--el-color-' + $type}: map.get($theme-colors, $type);
    @each $mode in $mix-modes {
      @for $i from 1 through 9 {
        #{'--el-color-' + $type + '-' + $mode + '-' + $i}: color.mix(
          map.get($mode-colors, $mode),
          map.get($theme-colors, $type),
          math.percentage(math.div($i, 10))
        );
      }
    }
  }
}

@mixin set-text-color-css-vars($theme-text-colors) {
  @each $text-color-type in $text-color-types {
    #{'--el-text-color-' + $text-color-type}: map.get($theme-text-colors, $text-color-type);
  }
}

// 蓝色主题
.blue {
  // 色盘 例:--el-color-primary --el-coor-success-light-5 等
  @include set-theme-colors($theme-blue-colors, $base-mode-colors);

  // 背景色 默认
  --el-bg-color: #ffffff;
  --el-bg-color-overlay: #ffffff;
  --el-bg-color-page: #f7f8fd;

  // 字色 例 --el-text-color-primary --el-text-color-regular 等
  @include set-text-color-css-vars($theme-blue-text-light-colors);

  // 边框颜色 默认
  // --el-border-color: #dcdfe6;
  // --el-border-color-light: #e4e7ed;
  // --el-border-color-lighter: #ebeef5;
  // --el-border-color-extra-light: #f2f6fc;
  // --el-border-color-dark: #d4d7de;
  // --el-border-color-darker: #cdd0d6;

  // 填充色 默认
  // --el-fill-color: #f0f2f5;
  // --el-fill-color-light: #f5f7fa;
  // --el-fill-color-lighter: #fafafa;
  // --el-fill-color-extra-light: #fafcff;
  // --el-fill-color-dark: #ebedf0;
  // --el-fill-color-darker: #e6e8eb;
  // --el-fill-color-blank: #ffffff;

  // 阴影 默认
  // --el-box-shadow: 0 12px 32px 4px rgb(0 0 0 / 4%), 0 8px 20px rgb(0 0 0 8%);
  // --el-box-shadow-light: 0px 0px 12px rgb(0 0 0 / 12%);
  // --el-box-shadow-lighter: 0px 0px 6px rgb(0 0 0 / 12%);
  // --el-box-shadow-dark: 0px 16px 48px 16px rgb(0 0 0 / 8%), 0px 12px 32px rgb(0 0 0 / 12%),
  //   0px 8px 16px -8px rgb(0 0 0 / 16%);

  // 禁用色 默认
  // --el-disabled-bg-color: var(--el-fill-color-light);
  // --el-disabled-text-color: var(--el-text-color-placeholder);
  // --el-disabled-border-color: var(--el-border-color-light);

  // overlay colors 默认
  // --el-overlay-color: rgb(0 0 0 / 80%);
  // --el-overlay-color-light: rgb(0 0 0 / 70%);
  // --el-overlay-color-lighter: rgb(0 0 0 / 50%);

  // mask colors 默认
  // --el-mask-color: rgb(255 255 255 / 90%);
  // --el-mask-color-extra-light: rgb(255 255 255 / 30%);

  // border vars 默认
  // --el-border-width: 1px;
  // --el-border-style: solid;
  // --el-border-color-hover: var(--el-text-color-disabled);
  // --el-border: var(--el-border-width) var(--el-border-style) var(--el-border-color);

  // 字号 字体 字重 行高 默认
  // --el-font-size-extra-large: 20px;
  // --el-font-size-large: 18px;
  // --el-font-size-medium: 16px;
  // --el-font-size-base: 14px;
  // --el-font-size-small: 13px;
  // --el-font-size-extra-small: 12px;
  // --el-font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','微软雅黑',Arial,sans-serif;
  // --el-font-weight-primary: 500;
  // --el-font-line-height-primary: 24px;

  // z-index范围 默认
  // --el-index-normal: 1;
  // --el-index-top: 1000;
  // --el-index-popper: 2000;

  // 圆角 border-radius 默认
  // --el-border-radius-base: 4px;
  // --el-border-radius-small: 2px;
  // --el-border-radius-round: 20px;
  // --el-border-radius-circle: 100%;

  // transition动画 默认
  // --el-transition-duration: 0.3s;
  // --el-transition-duration-fast: 0.2s;
  // --el-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
  // --el-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
  // --el-transition-all: all var(--el-transition-duration)
  //   var(--el-transition-function-ease-in-out-bezier);
  // --el-transition-fade: opacity var(--el-transition-duration)
  //   var(--el-transition-function-fast-bezier);
  // --el-transition-md-fade: transform var(--el-transition-duration)
  //     var(--el-transition-function-fast-bezier),
  //   opacity var(--el-transition-duration) var(--el-transition-function-fast-bezier);
  // --el-transition-fade-linear: opacity var(--el-transition-duration-fast) linear;
  // --el-transition-border: border-color var(--el-transition-duration-fast)
  //   var(--el-transition-function-ease-in-out-bezier);
  // --el-transition-box-shadow: box-shadow var(--el-transition-duration-fast)
  //   var(--el-transition-function-ease-in-out-bezier);
  // --el-transition-color: color var(--el-transition-duration-fast)
  //   var(--el-transition-function-ease-in-out-bezier);

  // 组件大小 默认
  // --el-component-size-large: 40px;
  // --el-component-size: 32px;
  // --el-component-size-small: 24px;

  // 暗黑模式
  &.dark {
    @include set-theme-colors($theme-blue-colors, $dark-mode-colors);

    // 背景色
    --el-bg-color: #28303d;
    --el-bg-color-page: #1b2431;
    --el-bg-color-overlay: #28303d;

    // 字色
    @include set-text-color-css-vars($theme-blue-text-dark-colors);
  }
}

// 紫色主题
.purple {
  @include set-theme-colors($theme-purple-colors, $base-mode-colors);

  // 背景色 默认
  --el-bg-color: #f7f7ff;
  --el-bg-color-overlay: #ffffff;
  --el-bg-color-page: #f1f0fb;

  // 暗黑模式
  &.dark {
    @include set-theme-colors($theme-purple-colors, $dark-mode-colors);

    // 背景色
    --el-bg-color: #252433;
    --el-bg-color-page: #181726;
    --el-bg-color-overlay: #252433;
  }
}
